
<div class="w-100 mt-2 mr-2 jumbotron bg-light shadow">
  <h3>Reminder Lists</h3>

  <button *ngFor="let item of lists" 
    class="bg-light btn w-100 m-0 mb-1 border-bottom d-flex align-items-center justify-content-between"
    routerLink="/reminders/{{ item._id }}">
  
    <div>
      <i class="fas fa-list-ul text-warning mr-2"></i>
      <h5 class="d-inline ml-2">{{ item.title }}</h5>
    </div>
      
    <div>
      <h5 class="d-inline mr-2" style="font-family: 'Mukta', sans-serif;">{{ item.task.length }}</h5>
      <i class="fas fa-arrow-right text-success"></i>
    </div>
    

  </button>

  <form class="bg-light m-1 row" [formGroup]="newList">
    <input type="text" class="form-control col-9" formControlName="title" placeholder="New List (3 to 10 Characters)">
    <button class="btn btn-outline-primary col-2 offset-1"
       (click)="addList()" [disabled]="!newList.valid">
       <i class="fas fa-plus">
       <span style="font-family: 'Mukta', sans-serif;">
        Add List</span></i>
       </button>
      </form>

</div>

<!-- <p>{{ test }}</p> -->


<router-outlet (activate)="onChange($event)"></router-outlet>
